$("#form-vote").attr("action", "/votes/<%= @vote.id %>");
$("#form-vote").html(
  "<input name='utf-8' type='hidden' value='✓'>" +
  "<input type='hidden' name='_method' value='delete' >" +
  "<button name='button' type='submit' class='btn-vote'>" +
  " <span class='glyphicon glyphicon-heart'></span>" +
  "</button>"+"<ul><%= vote_count %> <%= 'like'.pluralize vote_count %></ul>");

